modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Full Stack"
author = 41555105
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
